.m_gift {
  height: 500px;
  background: url("../img/a2.jpg") no-repeat;
  position: relative;
}
.m_gift .glist1 {
  width: 100%;
  height: 204px;
  background: url("../img/glist1.png") no-repeat;
  position: absolute;
  top: 117px;
}
.m_gift .glist1 .g {
  width: 162px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  position: absolute;
  top: 141px;
}
.m_gift .glist1 .g:nth-of-type(1) {
  left: 70px;
}
.m_gift .glist1 .g:nth-of-type(2) {
  left: 240px;
}
.m_gift .glist1 .g:nth-of-type(3) {
  left: 410px;
}
.m_gift .btn_gift {
  width: 320px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: 349px;
}
