.m_s_hor {
  height: 520px;
  background: url("../img/a6.jpg") no-repeat;
  position: relative;
}
.m_s_hor .swiper-container {
  width: 560px;
  height: 315px;
  position: absolute;
  top: 119px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.m_s_hor .cindex {
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.m_s_hor .cindex span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: #ff669e 1px solid;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
}
.m_s_hor .cindex .swiper-active-switch {
  background-color: #ff669e;
}
